<template name="Menus">
  {{#if isInRole "admin"}}
  <li>{{#linkTo route="home"}}<i class="fa fa-home"></i>Home{{/linkTo}}</li>
  <li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Admin</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li>{{#linkTo route="pagesList"}}Pages{{/linkTo}}</li>
        <li>{{#linkTo route="menusList"}}Menus{{/linkTo}}</li>
        <li>{{#linkTo route="usersList"}}Users{{/linkTo}}</li>
        <li>{{#linkTo route="typesList"}}Types{{/linkTo}}</li>
    </ul>
  </li>
  {{/if}}
  {{#each menus}}
  <li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>{{title}}</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      {{#each item}}
        <li><a href="{{path}}">{{title}}</a></li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</template>
