<template name="MenusList">
  {{pageTitle "Menus"}}
  <div class="box">
    <div class="box-header with-border">
      {{#linkTo route="insertMenu"}}<i class="fa fa-plus"></i> New Menu{{/linkTo}}
    </div>
    <div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each menus}}
      <tr>
        <td>{{title}}</td>
        <td>
          {{#linkTo route='editMenu'}}
            <i class="fa fa-pencil-square-o"></i>
          {{/linkTo}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</div>
</template>
