<template name="EditPage">
  {{pageTitle "Edit Page"}}
  {{#if (can "update" page)}}
    {{> quickRemoveButton collection="Pages" _id=page._id onSuccess=onSuccess class="btn btn-danger"}}
  {{/if}}
  {{> breadcrumb}}
  {{#if (can "update" page)}}
    {{> quickForm collection="Pages" doc=page id="editPageForm" type="update" omitFields="createdBy" buttonContent="Update"}}
  {{/if}}
  <hr>
  <h4>Widgets</h4>
  {{#linkTo route="insertWidget" parent=page._id}}<i class="fa fa-plus"></i> New Widget{{/linkTo}}

  <table class="table table-hover">
    <thead>
      <tr>
        <th>type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each widgets}}
      <tr>
        <td>{{type}}</td>
        <td>
          {{#if (can "update" this)}}
          {{#linkTo route='editWidget'}}
            <i class="fa fa-pencil-square-o"></i>
          {{/linkTo}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
