<template name="PagesList">
  {{pageTitle "Pages"}}
  <div class="box">
    <div class="box-header with-border">
      {{#linkTo route="insertPage"}}<i class="fa fa-plus"></i> New Page{{/linkTo}}
    </div>
    <div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each pages}}
      <tr>
        <td>{{title}}</td>
        <td>
          {{#linkTo route='editPage'}}
            <i class="fa fa-pencil-square-o"></i>
          {{/linkTo}}
          {{> quickRemoveButton collection="Pages" _id=this._id onSuccess=onSuccess class="btn btn-danger"}}        
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</div>
</template>
