<template name="FormsList">
  <div class="box ">
    <div class="box-header with-border">
      <h3 class="box-title">Forms</h3>
      <span style="float:right">{{#linkTo route="insertForm"}}<button class="btn btn-info" type="button"><i class="fa fa-plus"></i> New Form</button>{{/linkTo}}</span>
    </div>
    <div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each forms}}
      <tr>
        <td>{{title}}</td>
        <td>
          {{#linkTo route='editForm'}}
            <button class="btn btn-info" type="button">Edit</button>
          {{/linkTo}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</div>
</template>
