<template name="EditField">
  <div class="fill">
    <div class="contain" style="overflow-y:auto;padding:10px">
      <section class="content-header">
        {{pageTitle "Edit Field"}}
        {{#if (can "remove" field)}}
        {{> quickRemoveButton collection="Fields" _id=field._id beforeRemove=beforeRemove class="btn btn-danger"}}
        {{/if}}
        {{> breadcrumb}}
      </section>
      {{#if (can "update" field)}}
      {{> quickForm collection="Fields" doc=field schema=schema id="editFieldForm" type="update" omitFields="createdBy" buttonContent="Update"}}
      {{/if}}

      <!-- Sidebar -->
      <!--div id="split-right" class="split-right collapse" >
      <div class="right-container">
      <div class="right-wrapper">
      <div class="right-header">
      <h1>Preview
    </h1>
  </div>
  <div class="right-content">
  {{> Template.dynamic template=field.type data=field}}
</div>
</div>
</div>
</div>
<button class="fab" data-toggle="collapse" data-target="#split-right"><i class="fa fa-search"></i></button-->
    </div>
  </div>
</template>
