<template name="EditWidget">
  {{#if isWidget widget}}
  <button class="fab" data-toggle="collapse" data-target="#split-right"><i class="fa fa-search"></i></button>

  <div class="fill">
    <div class="contain" style="overflow-y:auto;padding:10px">

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
            Edit form
          </h3>
          <div class="box-tools">
            <span style="float: right;">{{> breadcrumb}}</span>
            {{#if (can "remove" widget)}}
            {{> quickRemoveButton collection="Widgets" style="float:right" _id=widget._id beforeRemove=beforeRemove class="btn btn-danger"}}
            {{/if}}
          </div>
        </div>
        <div class="box-body table-responsive">

          {{#if destroyForm}}
          {{! this is a wonky workaround for the fact that autoform doesn't handle reactively changing schema attribute, which should be fixed eventually}}
          {{else}}
          {{#if (can "update" widget)}}
          {{> quickForm collection="Widgets" doc=widget schema=schema id="editWidgetForm" type="update" omitFields="createdBy" buttonContent="Update"}}
          {{#if isForm widget}}
          {{#linkTo route="insertField" parent=widget._id}}<i class="fa fa-plus"></i> New Field{{/linkTo}}
          {{/if}}
          {{/if}}
          {{/if}}

        </div>
      </div>

      <!-- Sidebar -->
      <div id="split-right" class="split-right collapse" >
        <div class="right-container">
          <div class="right-wrapper">
            <div class="right-header">
              <h1>Preview
              </h1>
            </div>
            <div class="right-content">
              {{> Template.dynamic template=widget.type data=widget}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
</template>
