<template name="EditWidget">
  {{#if isWidget widget}}
  <button class="fab" data-toggle="collapse" data-target="#split-right"><i class="fa fa-search"></i></button>
  <div class="fill">
    <div class="contain" style="overflow-y:auto;">
      <section class="content-header">
        <h1 id="page_title" class="ui header page-header">
          Edit Widget
          {{#if (can "remove" widget)}}
          {{> quickRemoveButton collection="Widgets" _id=widget._id beforeRemove=beforeRemove class="btn btn-danger"}}
          {{/if}}
        </h1>
        {{> breadcrumb}}
      </section>

      {{#if destroyForm}}
      {{! this is a wonky workaround for the fact that autoform doesn't handle reactively changing schema attribute, which should be fixed eventually}}
      {{else}}
      {{#if (can "update" widget)}}
      {{> quickForm collection="Widgets" doc=widget schema=schema id="editWidgetForm" type="update" omitFields="createdBy" buttonContent="Update"}}
      {{#if isForm widget}}
      {{#linkTo route="insertField" parent=widget._id}}<i class="fa fa-plus"></i> New Field{{/linkTo}}
      <table id="items" class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each fields}}
          <tr data-id='{{_id}}' data-listposition='{{listposition}}'>
            <td><i class="sortable-handle mdi-action-view-headline pull-right"></i></td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>
              {{#linkTo route='editField'}}
              <i class="fa fa-pencil-square-o"></i>
              {{/linkTo}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
      {{/if}}
      {{/if}}

      <!-- Sidebar -->
      <div id="split-right" class="split-right collapse" >
        <div class="right-container">
          <div class="right-wrapper">
            <div class="right-header">
              <h1>Preview
              </h1>
            </div>
            <div class="right-content">
              {{> Template.dynamic template=widget.type data=widget}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>
