/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
#navbarMessagesMenu li a p {
    white-space: normal;
    margin: 0px 0px 0px 0px;
}
#navbarMessagesMenu img {
  margin-top: 9px;
margin-right: 5px;
margin-bottom: 0px;
}


body,html {
  height:100%
    background-color: #222d32;
  }
  .sidebar-menu li.header {
      color: #4b646f;
      background: #1a2226;
  }

.fill {
  left:0px;
  right:0px;
  position: absolute;
  top:0px;
  bottom:0px;
}
.main-header {
-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.main-sidebar {
-moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}


.page_title {
  color: white;
  font-size: 23px;
  line-height: 48px;
  float: left;
}


.wrapper{
  background-color: #ecf0f5;
}
.main-footer {
  bottom:0px;
  left:0px;
  right:0px;
  height: 54px;
  position:absolute;
}
.contain {
  position:relative;
  width:100%;
  height:100%;
}
.content {
  position: absolute;
  bottom: 50px !important;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  padding-bottom:50px;
  padding-top: 20px;
}
.content-wrapper {
  bottom: 0px;
  top: 50px;
  position: absolute;
  right: 0px;
  left: 0px;
  height: auto;
  min-height:auto;
}
.wrapper .main-sidebar {
  overflow: auto;
  height: auto;
  min-height: auto;
  padding-top: 0px;
  bottom: 0px;
}
.skin-blue,.skin-yellow, .skin-green {
      height: 100%;
}
.messages-menu .offline {
  background:#eee;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.messages-menu .offline:hover {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}
@media(max-width:768px) {
  .content {
    top: 50px;
  }
  .wrapper .main-sidebar {
    top: 0px;
  }
}
@media(min-width:768px) {
  .content {
    top: 0px;
  }
  .wrapper .main-sidebar {
    top: 50px;
  }
}

#mediawrapper{
margin-left: auto;
margin-right:auto;
width:430px;
}

.control-sidebar-bg, .control-sidebar {
    width: 440px !important;
    right: 0px !important;
}

.control-sidebar>.tab-content {
  padding: 0px !important;
}

/* Hide the control bar when the video is playing and the user is inactive  */
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: block !important;
  visibility: visible !important;
  opacity:1 !important;
}

.breadcrumb {
      float: right;
      margin-bottom:0px !important;
}

.box-header li {
  display:inline-block;
}

.content {
  bottom: 0px !important;
}
