.right-header {
  background-color:#4F5467;
  color:#ecf0f5;
  margin:0;
  padding-left:5px;
  padding-right:5px;
}
.right-content {
  padding-left: 5px;
      padding-right: 5px;
      overflow-y: auto;
      position: absolute;
      right: 0px;
      left: 0px;
      bottom: 0px;
      top: 39px;
}
.right-header h1 {
  margin:0px;
}

.split-right {
  position: absolute;
  top: 10px;
  bottom: 40px;
  right: 10px;
  left: 20%;
}
.right-container {
  width: 100%;
      height: 100%;
      position: relative;
    }
.right-wrapper {
  z-index: 1;
  background-color: #ecf0f5;
  position: fixed;
  right: 30px;
  top: 100px;
  bottom: 20px;
  width: 50%;
  overflow:hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #4F5467;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.split-left {
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}
.left-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.left-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
}

.nooverflow {
  position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
}

.fab {
  background-color: #F44336;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    position: absolute;
}
.fab:focus {
  transform:scale(1.1);
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}
.modal-backdrop {
  z-index:799;
}
body .content-header .breadcrumb {
      top: -10px;
}
