<template name="TypesList">
  {{pageTitle "Types"}}
  {{#linkTo route="insertType"}}<i class="fa fa-plus"></i> New Type{{/linkTo}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Label</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each types}}
      <tr>
        <td>{{value}}</td>
        <td>{{label}}</td>
        <td>
          {{#linkTo route='editType'}}
            <i class="fa fa-pencil-square-o"></i>
          {{/linkTo}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
