<template name="submissionsAdmin">
    {{pageTitle title}}
    <section class="content-header">{{> breadcrumb}}</section>
  <div class="box">
    <div class="box-body table-responsive no-padding">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Created by</th>
        {{#each getSchema}}
          <th>{{label .. this}}</th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each items}}
      <tr>
        <td>
          {{user createdBy}}
        </td>
        {{#each getSchema}}
          <td>{{{cell .. this}}}</td>
        {{/each}}
        <td>
        {{#linkTo route="updateForm" form=../_id }}
            <i class="fa fa-pencil-square-o"></i>
        {{/linkTo}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</div>
</template>
