<template name="submissions">
  {{pageTitle title}}
  <section class="content-header">{{> breadcrumb}}</section>
  <div class="box">
    <div class="box-header with-border">
      {{#if canAdmin}}
      {{#linkTo route="submissionsAdmin" form=currentForm}}Admin{{/linkTo}}
      {{/if}}
      {{#linkTo route="submitForm" form=_id}}Submit new{{/linkTo}}
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            {{#each getSchema}}
            <th>{{label .. this}}</th>
            {{/each}}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            {{#each getSchema}}
            <td>{{{cell .. this}}}</td>
            {{/each}}
            <td>
              {{#linkTo route="updateForm" form=../_id }}
              <i class="fa fa-pencil-square-o"></i>
              {{/linkTo}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
