<template name="updateForm">
  {{#if schema}}
  <h1 id="page_title" class="ui header page-header">
    {{form.title}}
    {{> quickRemoveButton collection=collection _id=item._id onSuccess=onSuccess onError=onError class="btn btn-danger"}}
  </h1>
  {{> quickForm collection=collection doc=item schema=schema id="updateForm" type="update" omitFields="createdBy" buttonContent="Submit"}}
  {{#each getFileTypes}}
    {{#with getFile}}
      <a href="{{url}}">{{#if isImage}}<img alt="image missing" src="http://localhost:3000{{url store='thumbnail'}}"/>{{else}}Download{{/if}}</a>
    {{/with}}
  {{/each}}
  {{/if}}
</template>
