<template name="UsersList">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">
        Users
      </h3>
    </div>

    <div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Email</th>
        <th>Status</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td>{{#with FS.GetFile "files" profile.picture}}<img src="{{url}}" class="img-circle" style="width: 100%;max-width: 45px;height: auto;"/>{{/with}}</td>
        <td>{{profile.email}}</td>
        <td>{{#if status.online}}<i class="fa fa-circle text-success"></i> Online{{else}}<i class="fa fa-circle text-warning"></i> Offline{{/if}}</td>
        <td>{{profile.name}}</td>
        {{#if isInRole 'user-admin'}}
        <td>
          {{#linkTo route='editUser'}}
            <button class="btn btn-info" type="button">Edit</button>
          {{/linkTo}}
        </td>
        <td>
          {{#callable name="downloadAvatar" userId=_id}}
            <button class="btn btn-info" type="button">Download Avatar</button>
          {{/callable}}
        </td>
        {{/if}}
        <td>
          {{#if isInRole 'gmail-admin'}}
            {{#linkTo route='mailList' user=_id}}
              <button class="btn btn-info" type="button">Gmail Messages</button>
            {{/linkTo}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
</div>
</template>
